/*********************************************************************************/
/* Includes, Imports, & Variables
*********************************************************************************/

/* These includes are optional, but helpful. 
{% include "hubspot/styles/responsive/modules.css" %}
{% include "hubspot/styles/patches/recommended.css" %}
*/

@import "plugins/fontawesome/scss/font-awesome";

$primaryColor: #fff;
$accentColor: #000;

/*********************************************************************************/
/* Resets
*********************************************************************************/
*,*:before,*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

/**********************************************************************************/
/* Site Structure
***********************************************************************************/
.header-container,
.body-container,
.footer-container,
.page-wrap {
    max-width: 1170px;
    margin:auto!important;
    float:none!important;
    padding: 1em;
}

/**********************************************************************************/
/* General Typography
***********************************************************************************/
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #252525;
}
a {
    color: $primaryColor;   
}
h1 {
    font-weight: 700;
    font-size: 3em;
}
h2 {
    font-weight: 700;
    font-size: 2.250em;
}
h3 {
    font-weight: 400;
    font-size: 1.688em;
}
h4 {
    font-weight: 300;
    font-size: 1.125em;
}
hr {
    clear:both;   
}

/* Highlighted Text */
::-moz-selection {
  color: #fff;
  background: $primaryColor;
  text-shadow: none;
}
::selection {
  color: #fff;
  background: $primaryColor;
  text-shadow: none;
}

/**********************************************************************************/
/* Custom Pages
***********************************************************************************/

/* --------------- Home Page ---------------- */

/* --------------- Contact Page --------------- */

/* --------------- Blog Page --------------- */


/**********************************************************************************/
/* Main Navigation
***********************************************************************************/

.hs-menu-wrapper.hs-menu-flow-horizontal > ul li a {
    max-width: none;
}

ul.hs-menu-children-wrapper {
    background: $accentColor;
}

/**********************************************************************************/
/* Buttons
***********************************************************************************/
body .hs-button,
body .hs-button.primary,
body input[type="submit"],
body input[type="button"] {
	cursor: pointer;
	-webkit-appearance: none;
	text-decoration: none !important;
	font-size: 1em;
	font-weight: bold;
	display: inline-block;
	padding: .75em 1em .75em 1em;
	margin: .25em 0;
  border: none;
	background: $primaryColor;
}

body .hs-button.primary:hover,
body input[type="submit"]:hover,
body input[type="button"]:hover {

}

body .hs-button.primary:focus,
body input[type="submit"]:focus,
body input[type="button"]:focus {

}

/* Form Buttons */
.hs_cos_wrapper_type_form .hs-button.primary.large {}
.hs_cos_wrapper_type_form .hs-button.primary.large:hover {}
.hs_cos_wrapper_type_form .hs-button.primary.large:focus {}


/**********************************************************************************/
/* Forms
***********************************************************************************/

/* Form Field */
body .hs-form-field {}

/* Descriptions */
body .hs-field-desc {}

/* Labels */
body label {}
body .hs-form-field > label {}

/* One Line Inputs */
body input[type="text"],
body input[type="password"], 
body input[type="datetime"], 
body input[type="datetime-local"], 
body input[type="date"], 
body input[type="month"], 
body input[type="time"], 
body input[type="week"], 
body input[type="number"], 
body input[type="email"], 
body input[type="url"], 
body input[type="search"], 
body input[type="tel"], 
body input[type="color"],
body input[type="file"],
body textarea,
body select {
  width: 100%;
  font-family: {{ baseFontFamily }};
  font-size: {{ baseFontSize }};
}

body input[type="text"]:focus,
body input[type="password"]:focus, 
body input[type="datetime"]:focus, 
body input[type="datetime-local"]:focus, 
body input[type="date"]:focus, 
body input[type="month"]:focus, 
body input[type="time"]:focus, 
body input[type="week"]:focus, 
body input[type="number"]:focus, 
body input[type="email"]:focus, 
body input[type="url"]:focus, 
body input[type="search"]:focus, 
body input[type="tel"]:focus, 
body input[type="color"]:focus,
body input[type="file"]:focus,
body textarea:focus,
body select:focus {}

/* Separate Styles for Multiple Line Inputs */
body textarea {}
body textarea:focus {}

/* Separate Styles for Drop Downs */
body select {}
body select:focus {}

/* Multiple Selection Inputs */
body form.hs-form .hs-form-field ul.inputs-list {
  list-style: none;
  padding: 0;
}
body form.hs-form .hs-form-field ul.inputs-list li input {}
body input[type="radio"] {}
body input[type="checkbox"] {}

/* Required */
body input:focus:required:invalid, 
body textarea:focus:required:invalid, 
body select:focus:required:invalid {}

body input:focus:required:invalid:focus, 
body textarea:focus:required:invalid:focus, 
body select:focus:required:invalid:focus {}

/* Placeholder Text */
::-webkit-input-placeholder { /* Webkit Browsers */
   /* color: #555;
   opacity: 1; */
}
:-moz-placeholder { /* Firefox 18- */
   /* color: #555;
   opacity: 1; */
}
::-moz-placeholder { /* Firefox 19+ */
   /* color: #555;
   opacity: 1; */
}
:-ms-input-placeholder { /* IE10 */
   /* color: #555;
   opacity: 1; */
}


/* Form Module
   ========================================================================== */

/* Form Field */
.hs_cos_wrapper_type_form .hs-form-field {}

/* Descriptions */
.hs_cos_wrapper_type_form .hs-field-desc {}

/* Labels */
.hs_cos_wrapper_type_form label {}
.hs_cos_wrapper_type_form .hs-form-field > label {}

/* One Line Inputs */
.hs_cos_wrapper_type_form input[type="text"],
.hs_cos_wrapper_type_form input[type="password"], 
.hs_cos_wrapper_type_form input[type="datetime"], 
.hs_cos_wrapper_type_form input[type="datetime-local"], 
.hs_cos_wrapper_type_form input[type="date"], 
.hs_cos_wrapper_type_form input[type="month"], 
.hs_cos_wrapper_type_form input[type="time"], 
.hs_cos_wrapper_type_form input[type="week"], 
.hs_cos_wrapper_type_form input[type="number"], 
.hs_cos_wrapper_type_form input[type="email"], 
.hs_cos_wrapper_type_form input[type="url"], 
.hs_cos_wrapper_type_form input[type="search"], 
.hs_cos_wrapper_type_form input[type="tel"], 
.hs_cos_wrapper_type_form input[type="color"],
.hs_cos_wrapper_type_form input[type="file"],
.hs_cos_wrapper_type_form textarea,
.hs_cos_wrapper_type_form select {}

.hs_cos_wrapper_type_form input[type="text"]:focus,
.hs_cos_wrapper_type_form input[type="password"]:focus, 
.hs_cos_wrapper_type_form input[type="datetime"]:focus, 
.hs_cos_wrapper_type_form input[type="datetime-local"]:focus, 
.hs_cos_wrapper_type_form input[type="date"]:focus, 
.hs_cos_wrapper_type_form input[type="month"]:focus, 
.hs_cos_wrapper_type_form input[type="time"]:focus, 
.hs_cos_wrapper_type_form input[type="week"]:focus, 
.hs_cos_wrapper_type_form input[type="number"]:focus, 
.hs_cos_wrapper_type_form input[type="email"]:focus, 
.hs_cos_wrapper_type_form input[type="url"]:focus, 
.hs_cos_wrapper_type_form input[type="search"]:focus, 
.hs_cos_wrapper_type_form input[type="tel"]:focus, 
.hs_cos_wrapper_type_form input[type="color"]:focus,
.hs_cos_wrapper_type_form input[type="file"]:focus,
.hs_cos_wrapper_type_form textarea:focus,
.hs_cos_wrapper_type_form select:focus {}

/* Separate Styles for Multiple Line Inputs */
.hs_cos_wrapper_type_form textarea {}
.hs_cos_wrapper_type_form textarea:focus {}

/* Separate Styles for Drop Downs */
.hs_cos_wrapper_type_form select {}
.hs_cos_wrapper_type_form select:focus {}

/* Multiple Selection Inputs */
.hs_cos_wrapper_type_form form.hs-form .hs-form-field ul.inputs-list li input {}
.hs_cos_wrapper_type_form input[type="radio"] {}
.hs_cos_wrapper_type_form input[type="checkbox"] {}


/* Blog Comment Form
   ========================================================================== */

/* Label */
#comment-form .hs-form-field > label {}
#comment-form label {}

/* Inputs */
#comment-form input[type="text"] {}
#comment-form input[type="text"]:focus {}

#comment-form textarea {}
#comment-form textarea:focus {}

#comment-form input[type="checkbox"] {}

/* Error */
body .hs-common-error-message {}


/* Blog Subscription Form
   ========================================================================== */

/* Label */
#hs_form_target_blog_subscription .hs-form-field > label {}
#hs_form_target_blog_subscription label {}

/* Inputs */
#hs_form_target_blog_subscription input[type="email"] {}
#hs_form_target_blog_subscription input[type="email"]:focus {}

#hs_form_target_blog_subscription input[type="radio"], #hs_form_target_blog_subscription input[type="checkbox"] {
width: auto;
margin-right: 10px;
}

/* Multi Column Form
   ========================================================================== */

body .hs-form fieldset.form-columns-1 {}
body .hs-form fieldset.form-columns-1 .hs-form-field {}

body .hs-form fieldset.form-columns-2 {}
body .hs-form fieldset.form-columns-2 .hs-form-field {}

body .hs-form fieldset.form-columns-3 {}
body .hs-form fieldset.form-columns-3 .hs-form-field {}

/* Multiple Selection Inputs */
body form.hs-form .hs-form-field ul.inputs-list li input {}
body input[type="radio"] {}
body input[type="checkbox"] {}
body form.hs-form fieldset { max-width: none; }
body form.hs-form fieldset .hs-form-field { padding: 0 10px 0 0; }
body form.hs-form fieldset[class*="form-columns"] .input { margin-right: 0; }
body form.hs-form fieldset[class*="form-columns"] .hs-input { width: 100%; }
body form.hs-form fieldset[class*="form-columns"] .hs-input[type="checkbox"] { width: auto; }
body form.hs-form fieldset.form-columns-3 .hs-form-field { width: 33.33%; }

@media (max-width: 400px) {
  body form.hs-form fieldset .hs-form-field { padding: 0; }
  body form.hs-form fieldset.form-columns-3 .hs-form-field,
  body form.hs-form .form-columns-2 .hs-form-field .hs-input, 
  body form.hs-form .form-columns-3 .hs-form-field .hs-input { width: 100%; }
  body form.hs-form .form-columns-3 .hs-form-field .hs-input[type="checkbox"] { width: auto; }
}
/**********************************************************************************/
/* Follow Me Module Styles
***********************************************************************************/
.hs_cos_wrapper_type_follow_me a {
    margin: 4px;
    display: inline-block;
}
.hs_cos_wrapper_type_follow_me a[class^="fm_"] > span {
    width: 28px!important;
    height: 28px!important;
    filter: none!important;
    background: none!important;
    position: relative;
    font-size:28px;
    color: #e3e3e3;
    font-family: FontAwesome;
    display:block;
}
.fm_rss span:before {
    content: "\f143";
}
.fm_twitter span:before {
    content: "\f081";
}
.fm_twitter span:hover {
    color: #00aced!important;
}
.fm_facebook span:before {
    content: "\f082";
}
.fm_facebook span:hover {
    color: #3b5998!important;
}
.fm_youtube span:before {
    content: "\f166";
}
.fm_youtube span:hover {
    color: #bb0000!important;
}
.fm_linkedin span:before {
    content: "\f08c";
}
.fm_linkedin span:hover {
    color: #007bb6!important;
}
.fm_googleplus span:before {
    content: "\f0d4";
}
.fm_googleplus span:hover {
    color: #dd4b39!important;
}

/**********************************************************************************/
/* Header area
***********************************************************************************/
.header-container-wrapper {

}


/**********************************************************************************/
/* Body area
***********************************************************************************/
.body-container-wrapper {

}


/**********************************************************************************/
/* Footer area
***********************************************************************************/
.footer-container-wrapper {

}